<script>
	var clock;
	$(document).ready(function() {
		$.clockInit();	
	});
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">

<h1>Date&amp;Time settings</h1>

<div class="ui-body ui-body-a ui-corner-all">
	
	<label>Board Date <span id="mydate"></span></label>
	<div data-role="controlgroup" data-type="horizontal">
		
		<select class="isfield cltime" name="RTCCWD" id="RTCCWD">
			<option value="1">Monday</option>
			<option value="2">Tuesday</option>
			<option value="3">Wednesday</option>
			<option value="4">Thursday</option>
			<option value="5">Friday</option>
			<option value="6">Saturday</option>
			<option value="7">Sunday</option>
		</select>
	
		<select class="isfield cltime" name="RTCCD" id="RTCCD">
		</select>

		<select class="isfield cltime" name="RTCCM" id="RTCCM">
		</select>

		<select class="isfield cltime" name="RTCCY" id="RTCCY">
		</select>
	</div>
</div>

<br />
<div class="ui-body ui-body-a ui-corner-all">			
	<label>Board Time <span id="myclock"></span></label>
	<div data-role="controlgroup" data-type="horizontal">

		<select class="isfield cltime" name="RTCCHH" id="RTCCHH">
		</select>

		<select class="isfield cltime" name="RTCCMM" id="RTCCMM">
		</select>

		<select class="isfield cltime" name="RTCCSS" id="RTCCSS">
		</select>
	</div>		
</div>	

<button id="btSaveDateTime">Change Date and Time with above values</button>
<input type="button" value="Sync clock using your PC date and time" class="btSyncClock">
<br />

<div class="ui-body ui-body-a ui-corner-all" style="padding-left: 2em">
	<strong>Daylight Saving Time</strong>

	<div class="ui-field-contain">
		<label for="DSTEN">Auto adjust</label>
		<select class="isfield isdstfield" name="DSTEN" id="DSTEN" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>
	<div id="divDstEnabled" style="display: none">
		<div class="ui-field-contain dstfield ui-disabled">
			<label for="TIMEZONE">Local Time Zone</label>
			<select class="isfield isdstfield" name="TIMEZONE" id="TIMEZONE" >
				<option value="0,-11:00">(GMT-11:00) Midway Island, Samoa</option>
				<option value="1,-10:00">(GMT-10:00) Hawaii-Aleutian</option>
				<option value="2,-10:00">(GMT-10:00) Hawaii</option>
				<option value="3,-09:30">(GMT-09:30) Marquesas Islands</option>
				<option value="4,-09:00">(GMT-09:00) Gambier Islands</option>
				<option value="5,-09:00">(GMT-09:00) Alaska</option>
				<option value="6,-08:00">(GMT-08:00) Tijuana, Baja California</option>
				<option value="7,-08:00">(GMT-08:00) Pitcairn Islands</option>
				<option value="8,-08:00">(GMT-08:00) Pacific Time (US & Canada)</option>
				<option value="9,-07:00">(GMT-07:00) Mountain Time (US & Canada)</option>
				<option value="10,-07:00">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
				<option value="11,-07:00">(GMT-07:00) Arizona</option>
				<option value="12,-06:00">(GMT-06:00) Saskatchewan, Central America</option>
				<option value="13,-06:00">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
				<option value="14,-06:00">(GMT-06:00) Easter Island</option>
				<option value="15,-06:00">(GMT-06:00) Central Time (US & Canada)</option>
				<option value="16,-05:00">(GMT-05:00) Eastern Time (US & Canada)</option>
				<option value="17,-05:00">(GMT-05:00) Cuba</option>
				<option value="18,-05:00">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
				<option value="19,-04:30">(GMT-04:30) Caracas</option>
				<option value="20,-04:00">(GMT-04:00) Santiago</option>
				<option value="21,-04:00">(GMT-04:00) La Paz</option>
				<option value="22,-04:00">(GMT-04:00) Faukland Islands</option>
				<option value="23,-04:00">(GMT-04:00) Brazil</option>
				<option value="24,-04:00">(GMT-04:00) Atlantic Time (Goose Bay)</option>
				<option value="25,-04:00">(GMT-04:00) Atlantic Time (Canada)</option>
				<option value="26,-03:30">(GMT-03:30) Newfoundland</option>
				<option value="27,-03:00">(GMT-03:00) UTC-3</option>
				<option value="28,-03:00">(GMT-03:00) Montevideo</option>
				<option value="29,-03:00">(GMT-03:00) Miquelon, St. Pierre</option>
				<option value="30,-03:00">(GMT-03:00) Greenland</option>
				<option value="31,-03:00">(GMT-03:00) Buenos Aires</option>
				<option value="32,-03:00">(GMT-03:00) Brasilia</option>
				<option value="33,-02:00">(GMT-02:00) Mid-Atlantic</option>
				<option value="34,-01:00">(GMT-01:00) Cape Verde Is.</option>
				<option value="35,-01:00">(GMT-01:00) Azores</option>
				<option value="36,+00:00">(GMT) Greenwich Mean Time : Belfast</option>
				<option value="37,+00:00">(GMT) Greenwich Mean Time : Dublin</option>
				<option value="38,+00:00">(GMT) Greenwich Mean Time : Lisbon</option>
				<option value="39,+00:00">(GMT) Greenwich Mean Time : London</option>
				<option value="39,+00:00">(GMT) Monrovia, Reykjavik</option>
				<option value="40,+01:00">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
				<option value="41,+01:00">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
				<option value="42,+01:00">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
				<option value="43,+01:00">(GMT+01:00) West Central Africa</option>
				<option value="44,+01:00">(GMT+01:00) Windhoek</option>
				<option value="45,+02:00">(GMT+02:00) Beirut</option>
				<option value="46,+02:00">(GMT+02:00) Cairo</option>
				<option value="47,+02:00">(GMT+02:00) Gaza</option>
				<option value="48,+02:00">(GMT+02:00) Harare, Pretoria</option>
				<option value="49,+02:00">(GMT+02:00) Jerusalem</option>
				<option value="50,+02:00">(GMT+02:00) Minsk</option>
				<option value="51,+02:00">(GMT+02:00) Syria</option>
				<option value="52,+03:00">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
				<option value="53,+03:00">(GMT+03:00) Nairobi</option>
				<option value="54,+03:30">(GMT+03:30) Tehran</option>
				<option value="55,+04:00">(GMT+04:00) Abu Dhabi, Muscat</option>
				<option value="56,+04:00">(GMT+04:00) Yerevan</option>
				<option value="57,+04:30">(GMT+04:30) Kabul</option>
				<option value="58,+05:00">(GMT+05:00) Ekaterinburg</option>
				<option value="59,+05:00">(GMT+05:00) Tashkent</option>
				<option value="60,+05:30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
				<option value="61,+05:45">(GMT+05:45) Kathmandu</option>
				<option value="62,+06:00">(GMT+06:00) Astana, Dhaka</option>
				<option value="63,+06:00">(GMT+06:00) Novosibirsk</option>
				<option value="64,+06:30">(GMT+06:30) Yangon (Rangoon)</option>
				<option value="65,+07:00">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
				<option value="66,+07:00">(GMT+07:00) Krasnoyarsk</option>
				<option value="67,+08:00">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
				<option value="68,+08:00">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
				<option value="69,+08:00">(GMT+08:00) Perth</option>
				<option value="70,+08:45">(GMT+08:45) Eucla</option>
				<option value="71,+09:00">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
				<option value="72,+09:00">(GMT+09:00) Seoul</option>
				<option value="73,+09:00">(GMT+09:00) Yakutsk</option>
				<option value="74,+09:30">(GMT+09:30) Adelaide</option>
				<option value="75,+09:30">(GMT+09:30) Darwin</option>
				<option value="76,+10:00">(GMT+10:00) Brisbane</option>
				<option value="77,+10:00">(GMT+10:00) Hobart</option>
				<option value="78,+10:00">(GMT+10:00) Vladivostok</option>
				<option value="79,+10:30">(GMT+10:30) Lord Howe Island</option>
				<option value="80,+11:00">(GMT+11:00) Solomon Is., New Caledonia</option>
				<option value="81,+11:00">(GMT+11:00) Magadan</option>
				<option value="82,+11:30">(GMT+11:30) Norfolk Island</option>
				<option value="83,+12:00">(GMT+12:00) Anadyr, Kamchatka</option>
				<option value="84,+12:00">(GMT+12:00) Auckland, Wellington</option>
				<option value="85,+12:00">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
				<option value="86,+12:45">(GMT+12:45) Chatham Islands</option>
				<option value="87,+13:00">(GMT+13:00) Nuku'alofa</option>
				<option value="88,+14:00">(GMT+14:00) Kiritimati</option>
			</select>
		</div>
		<input type="button" value="Save DST Setup" class="btApplyDST">		
		<input type="hidden" name="DSTSDATE" id="DSTSDATE" class="isfield isdstfield" value="">
		<input type="hidden" name="DSTSTIME" id="DSTSTIME" class="isfield isdstfield" value="">
		<input type="hidden" name="DSTEDATE" id="DSTEDATE" class="isfield isdstfield" value="">
		<input type="hidden" name="DSTETIME" id="DSTETIME" class="isfield isdstfield" value="">		
	</div>
</div>
<br />

<div class="ui-body ui-body-a ui-corner-all" style="padding-left: 2em">
	<strong>NTP service</strong>
	
	<div class="ui-field-contain">
		<label for="NTPEN">Syncronize Date&amp;Time</label>
		<select class="isfield isntpfield" name="NTPEN" id="NTPEN" data-role="slider">
			<option value="0" selected>Off</option>
			<option value="1">On</option>
		</select>
	</div>
	<div id="divNtpEnabled" style="display: none">		
		<div class="ui-body ui-body-a ui-corner-all">
			<div class="ui-field-contain ntpfield ui-disabled">
				<label for="NTPADDR1">Primary NTP Server</label>
				<div class="divCustomsel" data-role="controlgroup" data-type="horizontal">
				<select class="customsel" data-mini="true">
					<option value="ntp1.inrim.it">ntp1.inrim.it</option>
					<option value="ntp2.inrim.it">ntp2.inrim.it</option>
					<option value="0.pool.ntp.org">0.pool.ntp.org</option>
					<option value="1.pool.ntp.org">1.pool.ntp.org</option>
					<option value="0.europe.pool.ntp.org">0.europe.pool.ntp.org</option>
					<option value="1.europe.pool.ntp.org">1.europe.pool.ntp.org</option>
					<option value="custom">custom</option>
				</select>
				<input class="isfield isntpfield hascustomsel custominput" type="text" id="NTPADDR1" >
			</div>			
			</div>		
			<div class="ui-field-contain ntpfield ui-disabled">
				<label for="NTPADDR2">Secondary NTP Server</label>
				<div class="divCustomsel" data-role="controlgroup" data-type="horizontal">
				<select class="customsel" data-mini="true">
					<option value="ntp1.inrim.it">ntp1.inrim.it</option>
					<option value="ntp2.inrim.it">ntp2.inrim.it</option>
					<option value="0.pool.ntp.org">0.pool.ntp.org</option>
					<option value="1.pool.ntp.org">1.pool.ntp.org</option>
					<option value="0.europe.pool.ntp.org">0.europe.pool.ntp.org</option>
					<option value="1.europe.pool.ntp.org">1.europe.pool.ntp.org</option>
					<option value="custom">custom</option>
				</select>
				<input class="isfield isntpfield hascustomsel custominput" type="text" id="NTPADDR2" >
			</div>
			</div>			
			<div class="ui-field-contain ntpfield ui-disabled">
				<label for="NTPSYNCPD">Sync through NTP Server every</label>
				<select class="isfield isntpfield" name="NTPSYNCPD" id="NTPSYNCPD" data-inline="true">
					<option value="0">1 day</option>
					<option value="1">3 day</option>
					<option value="2">7 day</option>
					<option value="3">14 day</option>
					<option value="4">At board's startup</option>
				</select>
				<div > at time 
					<select class="" name="synchour" id="synchour" data-inline="true">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<select class="" name="syncmin" id="syncmin" data-inline="true">
						<option value="00">00</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>				
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>				
					</select>
					<input type="hidden" class="isfield isntpfield" value="" name="NTPSYNCTM" id="NTPSYNCTM">								
					&emsp;&emsp;Next NTP sync date:&nbsp; <span id="NTPSYNCDT"  class="isfield isntpfield"></span>				
				</div>			
			</div>		
			<input type="button" value="Save NTP setup" class="btApplyNTP">
		</div>
		<br />
		<br />
		
		<div class="ui-body ui-body-a ui-corner-all">		
			<div class="ui-field-contain">
				<label for="NTPLOG">Last sync results</label>
				<select name="NTPLOG" id="NTPLOG">
				</select>
				<input type="hidden" name="NTPLOG1UTC" id="NTPLOG1UTC" class="isfield readonlyfield" value="">
				<input type="hidden" name="NTPLOG1LT" id="NTPLOG1LT" class="isfield readonlyfield" value="">
				<input type="hidden" name="NTPLOG2UTC" id="NTPLOG2UTC" class="isfield readonlyfield" value="">
				<input type="hidden" name="NTPLOG2LT" id="NTPLOG2LT" class="isfield readonlyfield" value="">			
				<input type="hidden" name="NTPLOG3UTC" id="NTPLOG3UTC" class="isfield readonlyfield" value="">
				<input type="hidden" name="NTPLOG3LT" id="NTPLOG3LT" class="isfield readonlyfield" value="">						
			</div>
			
			<div class="ui-field-contain">
				<label for="NTPSYNCNOW">Check NTP server</label>
				<button id="NTPSYNCNOW" value="1">Sync now</button>
			</div>
		</div>		
	</div>	
</div>	
	


