<script>
	$(document).ready(function() {
		$.reqGetData()
			.always(function() {
				
				$.devfuncInit();
				$.isStatusUSBOk();
			});
	});
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">
<h1>Device Configuration</h1>

	<div id="divDeviceFunction" class="ui-field-contain">
		<label for="DEVFN">Device Configuration</label>
		<select class="isfield" name="DEVFN" id="DEVFN" data-native-menu="false">
			<option value="0">Standard Player</option>
			<option value="1">Playlist Sequence</option>
			<option value="2">Advanced Player</option>
			<option value="3">Advanced Playlist</option>
			<option value="4">Scheduler</option>
		</select>
	</div>

	<div id="divDigitalIOMode" class="ui-field-contain" >
		<label for="DIOM">Digital I/O Mode</label>
		<select class="isfield" name="DIOM" id="DIOM" data-native-menu="false">
			<option value="0">Free</option>
			<option value="1">Player</option>
			<option value="2">Binary Code</option>
			<option value="3">Playlist direct</option>
			<option value="4">Keypad</option>
			<option value="5">Museum mode</option>			
			<option value="6">Priority message</option>
		</select>
	</div>

	<div id="divPlayDelay" class="ui-field-contain" style="display: none">
		<label for="PLDEL">Play Delay (msec)</label>
		<input class="isfield" type="range" name="PLDEL" id="PLDEL" value="490" min="0" max="5000" data-highlight="true">
	</div>

	<div id="divDigitalIn" class="ui-corner-all custom-corners ui-responsive">
		<div class="ui-bar ui-bar-a">
			<h3>Digital Inputs</h3>
		</div>
		<div class="ui-body ui-body-a ">

			<div id="divDigitalInIObits" class="ui-field-contain" style="display: none">
				<label for="DIBC"># bits for Binary Code (1-8)</label>
				<input class="isfield" type="range" name="DIBC" id="DIBC" value="1" min="1" max="8" data-highlight="true">
			</div>

			<div id="divDigitalInTimeout" class="ui-field-contain" style="display: none">
				<label for="DITO">Time Persistence (msec)</label>
				<input class="isfield" type="range" name="DITO" id="DITO" value="0" min="0" max="3000" data-highlight="true">
			</div>

			<div id="divDigitalInContinuousPlay" class="ui-field-contain" style="display: none">
				<label for="DICP">Continuous Play</label>
				<select class="isfield" name="DICP" id="DICP" data-role="slider">
					<option value="0">Off</option>
					<option value="1">On</option>
				</select>
			</div>

			<div id="divDigitalInInterrupt" class="ui-field-contain" style="display: none">
				<label for="DIINT">Interrupt</label>
				<select class="isfield" name="DIINT" id="DIINT" data-role="slider">
					<option value="0">Off</option>
					<option value="1">On</option>
				</select>
			</div>

			<div id="divRestartPlay" class="ui-field-contain" style="display: none">
				<label for="DIRP">Restart Play</label>
				<select class="isfield" name="DIRP" id="DIRP" data-role="slider">
					<option value="0">Off</option>
					<option value="1">On</option>
				</select>
			</div>

		</div>
	</div>

	<div id="divPowerOnAutoPlay" class="ui-field-contain" style="display: none">
		<label for="POAP">Power On Auto Play</label>
		<select class="isfield" name="POAP" id="POAP" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>
<!--
	<div id="divLoopPlay" class="ui-field-contain" style="display: none">
		<label for="LPLAY">Loop Play</label>
		<select class="isfield" name="LPLAY" id="LPLAY" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>

	<div id="divRandomPlay" class="ui-field-contain" style="display: none">
		<label for="RPLAY">Random Play</label>
		<select class="isfield" name="RPLAY" id="RPLAY" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>

	<div class="ui-body ui-body-a ui-corner-all">
		
		<div class="ui-field-contain" >
			<label for="STBM">StandBy Mode</label>
			<select class="isfield" name="STBM" id="STBM" data-native-menu="false">
				<option value="0">Disable</option>
				<option value="1">Timeout</option>
				<option value="2">Remote digitalIN 8</option>
				<option value="3">Remote485</option>
			</select>
		</div>
		
		<div class="ui-field-contain" >
			<label for="STBTO">StandBy Timeout (s)</label>
			<input class="isfield" type="range" name="STBTO" id="STBTO" value="1" min="10" max="3600" data-highlight="true">
		</div>
	</div>
-->	
<input type="button" value="Save" class="btApply">
