<script>
	$(document).ready(function() {		
		$.deviceinfoInit();
	});
	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">

		<h1>Device info</h1>
		
		<fieldset class="ui-grid-a ui-responsive" >
			<div class="ui-block-a" >			
			
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>General Info</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-a">

							<div class="ui-block-a">Serial number</div>
							<div class="ui-block-b"><div id="SERIALNUM" class="isfield"></div></div>													
						
							<div class="ui-block-a">Brand ID</div>
							<div class="ui-block-b"><div id="BRANDID" class="isfield"></div></div>

							<div class="ui-block-a">Software version</div>
							<div class="ui-block-b"><div id="SWVER" class="isfield"></div></div>

							<div class="ui-block-a">Hardware version</div>
							<div class="ui-block-b"><div id="HWVER" class="isfield"></div></div>							

							<div class="ui-block-a">Bootloader version</div>
							<div class="ui-block-b"><div id="BLVER" class="isfield"></div></div>							

							<div class="ui-block-a">DHCP enabled</div>
							<div class="ui-block-b"><div id="ETHDHCP" class="icoCheck icoCheckOFF isfield"></div></div>							

							<div class="ui-block-a">IP address</div>
							<div class="ui-block-b"><div id="ETHIPAD" class="isfield"></div></div>							

							<div class="ui-block-a">Netmask</div>
							<div class="ui-block-b"><div id="ETHNM" class="isfield"></div></div>							
							
							<div class="ui-block-a">Gateway</div>
							<div class="ui-block-b"><div id="ETHGAD" class="isfield"></div></div>							

							<div class="ui-block-a">Hostname</div>
							<div class="ui-block-b"><div id="ETHHN" class="isfield"></div></div>							
							
							<div class="ui-block-a">MAC address</div>
							<div class="ui-block-b"><div id="MACADDR" class="isfield"></div></div>							

							<div class="ui-block-a">DNS1</div>
							<div class="ui-block-b"><div id="ETHDNS1" class="isfield"></div></div>							

							<div class="ui-block-a">DNS2</div>
							<div class="ui-block-b"><div id="ETHDNS2" class="isfield"></div></div>															
							
						</div>						
					</div>
				</div>	

									
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>Audio</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-a">
							<div class="ui-block-a">Audio Line In MIX</div>
							<div class="ui-block-b"><div id="AUADMIXON" class="icoCheck icoCheckOFF isfield"></div></div>
							
							<!--
							<div class="ui-block-a">5 Band Equalizer</div>
							<div class="ui-block-b"><div id="AUEQ5ON" class="icoCheck icoCheckOFF isfield"></div></div>
							-->
							
							<div class="ui-block-a">Volume (db)</div>
							<div class="ui-block-b"><div id="AUVOL" factor="-1" step="0.5" class="isfield"></div></div>
							
						</div>						
					</div>
				</div>	
					


				
			</div> <!-- ui-block-a -->
			
			<div class="ui-block-b">


			
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>Device Configuration</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-solo ">							
							<div id="DEVFN" class="isfield" hashtable="tblDEVFN"></div>
						</div>					
					</div>
				</div>				

				<div class="ui-corner-all custom-corners ui-responsive">
					<div class="ui-bar ui-bar-a">
						<h3>Device I/O</h3>
					</div>
					<div class="ui-body ui-body-a ">
						<div class="ui-grid-a ">
							
							<div class="ui-block-a">I/O Mode</div>
							<div class="ui-block-b"><div id="DIOM" class="isfield" hashtable="tblDIOM"></div></div>
						</div>
						
						<div class="ui-grid-solo">
							<div class="ui-block-a">
								I/O Config								
								<div id="DIOC" class="isfield formatbinary"></div>
							</div>
						</div>
						
						<div class="ui-grid-a">
							<div class="ui-block-a">Sensor</div>
							<div class="ui-block-b"><div id="SENSON" class="icoCheck icoCheckOFF isfield"></div></div>

							<div class="ui-block-a">Relay Mode</div>
							<div class="ui-block-b"><div id="RELM" class="isfield" hashtable="tblRELM"></div></div>														
						</div>						
					</div>
				</div>	


			
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>Play modes</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-a">
							<!--
							<div class="ui-block-a">Loop</div>
							<div class="ui-block-b"><div id="LPLAY" class="icoCheck icoCheckOFF isfield"></div></div>
							
							<div class="ui-block-a">Random</div>
							<div class="ui-block-b"><div id="RPLAY" class="icoCheck icoCheckOFF isfield"></div></div>
							-->
							<div class="ui-block-a">Power On Auto Play</div>
							<div class="ui-block-b"><div id="POAP" class="icoCheck icoCheckOFF isfield"></div></div>
														
						</div>						
					</div>
				</div>	
					
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>SD</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-a">
							<div class="ui-block-a">Present</div>
							<div class="ui-block-b"><div id="SDPRESENT" class="icoCheck icoCheckOFF isfield"></div></div>
							<div class="ui-block-a">SD size</div>
							<div class="ui-block-b"><div id="SDSIZE" class="isfield"></div></div>
							<div class="ui-block-a">Free memory</div>
							<div class="ui-block-b"><div id="SDFREE" class="isfield"></div></div>
														
						</div>						
					</div>
				</div>				

				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>USB</h3>
					</div>
					<div class="ui-body ui-body-a">
						<div class="ui-grid-a">
							<div class="ui-block-a">Present</div>
							<div class="ui-block-b"><div id="USBSTATUS" class="icoCheck icoCheckOFF isfield"></div></div>
														
						</div>						
					</div>
				</div>					
				
			</div>	<!-- ui-block-b -->
			
		</fieldset>		
		
		