<script>
	$(document).ready(function() {			
		
		$.updateInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">

<h1>Firmware Update</h1>

	<div class="ui-field-contain" style="padding: 0.5em; border: 8px solid #df7b08; border-radius: .4em;">
		<p>This web page gives the possibility to upload the application firmware in the SD memory and execute their updating. </p>
		<p>1. Select the update file, using the text box below. </p>
		<p>2. Press the Upload button to upload it to the SD memory. </p>
		<p>3. When the file will be uploaded, the application will execute the updating process. </p>
		<br>
		<p>Do not interrupt this process as it might cause corruption, which will make your NP10 device unustable.</p>
		<p>Your device reboots after the firmware is uploaded. It will take not more than 4 minutes.</p>
		<p>If the updating process will conclude successfully, the update file in the SD memory will be deleted. </p>
		<p>This process manages one file at a time.</p>			
	</div>
	
	
	<div class="ui-field-contain">
		<label for="FILE">Application Firmware</label>
		<input type="file" class="upf" name="FILE" id="FILE" value="">
	</div>
	
<button id="btUpload">Upload</button>	
	


