<script>
	$(document).ready(function() {
		$.iosetInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">

<h1>I/O settings</h1>
<div class="ui-field-contain">
		<input type="hidden" class="isfield" name="DIOIM" id="DIOIM" value="">
		<input type="hidden" class="isfield" name="DOPM" id="DOPM" value="">
		<input type="hidden" class="isfield" name="DIOC" id="DIOC" value="">
		<input type="hidden" class="isfield" name="DISTS" id="DISTS" value="">
		<input type="hidden" class="isfield" name="DIBC" id="DIBC" value="">
		<input type="hidden" class="isfield" name="DEVFN" id="DEVFN" value="">
		<input type="hidden" class="isfield" name="DIOM" id="DIOM" value="">
		
		<table id="tblIO" data-role="table" class="ui-responsive ui-shadow table-stroke">
			<thead>
				<tr>
					<th>Input</th>
					<th data-priority="2">Value</th>
					<th>Inversion</th>
					<th data-priority="1">Time(1/10 sec)</th>
					<th data-priority="1">Pulse Mode</th>
					<th data-priority="1">OUT Mode</th>
					<th>I/O Config</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>IO1</th>					
					<td>
						<select class="isfield immediate clDOSET" name="DOSET1" id="DOSET1"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_1" id="DIOIM_1"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT1" id="DOPT1" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_1" id="DOPM_1"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM1" id="DOM1" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>							
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->																			
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->
						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_1" id="DIOC_1"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>

				<tr>
					<th>IO2</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET2" id="DOSET2"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_2" id="DIOIM_2"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT2" id="DOPT2" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_2" id="DOPM_2"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM2" id="DOM2" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option>-->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option>-->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_2" id="DIOC_2"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO3</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET3" id="DOSET3"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_3" id="DIOIM_3"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT3" id="DOPT3" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_3" id="DOPM_3"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM3" id="DOM3" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_3" id="DIOC_3"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO4</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET4" id="DOSET4" data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_4" id="DIOIM_4" data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT4" id="DOPT4" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_4" id="DOPM_4"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM4" id="DOM4" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->							
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_4" id="DIOC_4"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO5</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET5" id="DOSET5"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_5" id="DIOIM_5"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT5" id="DOPT5" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_5" id="DOPM_5"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM5" id="DOM5" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_5" id="DIOC_5"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO6</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET6" id="DOSET6"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_6" id="DIOIM_6"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT6" id="DOPT6" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_6" id="DOPM_6"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM6" id="DOM6" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_6" id="DIOC_6"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO7</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET7" id="DOSET7"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_7" id="DIOIM_7"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT7" id="DOPT7" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_7" id="DOPM_7"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM7" id="DOM7" data-native-menu="false" data-mini="true" >
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option>-->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option>-->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->
						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_7" id="DIOC_7"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				<tr>
					<th>IO8</th>
					<td>
						<select class="isfield immediate clDOSET" name="DOSET8" id="DOSET8"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>					
					</td>
					<td>
						<select class="isflag clDIOIM" name="DIOIM_8" id="DIOIM_8"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td class="clDOPT">
						<input type="number" class="isfield clDOPT" name="DOPT8" id="DOPT8" min="1" max="65535" data-mini="true" value="">
					</td>
					<td>
						<select class="isflag clDOPM" name="DOPM_8" id="DOPM_8"  data-role="slider" data-mini="true">
							<option value="0">OFF</option>
							<option value="1">ON</option>
						</select>				  
					</td>
					<td>
						<select class="isfield clDOM" name="DOM8" id="DOM8" data-native-menu="false" data-mini="true">
							<option value="0">Free</option>
							<option value="1">Play</option>
							<option value="2">Play+Sensor</option>
							<option class="clOptBlink" value="3">Play + Blink in Pause</option>
							<option class="clOptBlink" value="4">Blink in Play</option>
							<!--<option class="clOptBlink" value="5">Blink in Play+Sensor</option> -->
							<option class="clOptBlink" value="5">Blink in Stop</option>	
							<!--<option class="clOptBlink" value="7">Blink in Stop+StopSensor</option> -->
							<!--<option value="3">Fault</option> -->
							<!--<option value="4">Timer</option> -->

						</select>				  
					</td>
					<td>
						<select class="isflag clDIOC" name="DIOC_8" id="DIOC_8"  data-role="slider" data-mini="true">
							<option value="1">IN</option>
							<option value="0">OUT</option>
						</select>				  
					</td>
				</tr>
				
				
			</tbody>
		</table>		


</div>

<input type="button" value="Reload" class="clReload">
<input type="button" value="Save" id="btApplyIO">