<script>
	$(document).ready(function() {
		$.loginInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">

<h1>Login</h1>

	<div class="ui-field-contain">
		<label for="LOGINTYPE">User</label>
		<select class="" name="LOGINTYPE2" id="LOGINTYPE2" data-native-menu="false">						
			<option value="guest" selected>guest</option>		
			<option value="admin">admin</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="LOGINPWD">Password</label>
		<input type="password" class="" name="LOGINPWD" id="LOGINPWD">
	</div>	

	<div class="ui-field-contain adminonly">
		<label for="EDITPWD">Repeat Password</label>
		<input type="password" class="" name="EDITPWD" id="EDITPWD">
	</div>

<input type="hidden" class="" name="LOGOUT" id="LOGOUT" value="1">
	
<button class="noadmin" id="btLogin">Login</button>
<button class="adminonly" id="btSetPassword">Set password</button>
<button id="btLogout">Logout</button>
