<script>
	$(document).ready(function() {
		$.playerInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">
<h1>Player</h1>	
	
<input type="button" data-mini="true" data-inline="true" id="btMediaControl" value="Media control">
<div id="divMediaControl" style="padding-left: 2em; display: none">
	<div class="ui-field-contain ui-mini">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUM">Amp. Mute</label>
		<div style="margin-right: 15px">
		<select class="isfield immediate" name="AUM" id="AUM" data-native-menu="false">						
			<option value="2">Auto</option>
			<option value="0">Disable</option>
			
		</select>
		</div>
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUBA">Bass Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUBA" id="AUBA" value="0" min="0" max="15" data-highlight="true">
	</div>	
	<div class="ui-field-contain ui-mini">
		<label for="AUTA">Treble Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUTA" id="AUTA" value="0" min="-8" max="7" data-highlight="true">
	</div>
</div>
	<div data-role="tabs" id="tabs" class="ui-body-a">
		<div data-role="navbar">
			<ul>
				<li><a href="#divmusic" class="tabnav musictab" data-ajax="false">Music</a></li>
				<li><a href="#divspot" class="tabnav spottab" data-ajax="false">Spot</a></li>
				<li><a href="#divsensor" class="tabnav sensortab" data-ajax="false">Sensor</a></li>
			</ul>
		</div>
	
		<div class="ui-grid-b ui-responsive">
			<div class="ui-block-a">
				<div class="ui-field-contain" style="top: -0.6em;">
					<label for="TRACKSORT">Show</label>
					<select data-mini="true" class="TRACKSORT" name="" id="TRACKSORT">
						<option value="0" selected>files names</option>
						<option value="1">TAGS - by Title</option>
						<option value="2">TAGS - by Artist</option>
						<option value="3">TAGS - by Album</option>
						<option value="4">TAGS - by Genre</option>
					</select>					
				</div>
				
			</div>
			<div class="ui-block-b"><select id="trackfilterGenre" data-mini="true"></select></div>
			<div class="ui-block-c"><input id="trackfilter" data-type="search" data-mini="true" placeholder="Find by title, author or album..."></div>
		</div>
		
		<div id="divmusic" class="ui-body-d ui-content">		
			<div class="ui-field-contain listcont" style="margin: 0">
				<ol id="MUSIC_ITEMS" trackdata="musicitemsobj" FILE_TYPE="music" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>
		</div>
		<div id="divspot" class="ui-body-d ui-content">
			<div class="ui-field-contain listcont" style="margin: 0">
				<ol id="SPOT_ITEMS" trackdata="spotitemsobj" FILE_TYPE="spot" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>		
		</div>
		
		<div id="divsensor" class="ui-body-d ui-content">
			<div class="ui-field-contain listcont" style="margin: 0">
				<ol id="SENSOR_ITEMS" trackdata="sensoritemsobj" FILE_TYPE="sensor" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>
		</div>
	
	</div>	
	
	
<div data-role="popup" id="ppTrack" class="mypopup" style="min-width: 22em;">

	<h2 id="popH">Track control</h2>
	<div id="tagsH" style="font-size: 0.8em"></div>
	<div class="ui-grid-b ui-responsive">
		<input cmdtype="pause" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
		<input cmdtype="play" type="button" class="clMediaButtons ui-btn ui-icon-play ui-btn-icon-left" data-inline="true" value="Play">
		<input cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">
		<input cmdtype="delete" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Delete">
		<button class="btCancelPopup">Close</button>
	</div>	
	

</div>