<script>
	$(document).ready(function() {
		$.playlistInit()
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">
<input type="hidden" class="isfield" name="FAKETRINPL" id="FAKETRINPL" value="">

<h1>Playlist</h1>
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="button" data-mini="true" data-inline="true" id="btMediaControl" value="Media control">
<div id="divMediaControl" style="padding-left: 2em; display: none">
	<div class="ui-field-contain ui-mini">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUM">Amp. Mute</label>
		<div style="margin-right: 15px">
		<select class="isfield immediate" name="AUM" id="AUM" data-native-menu="false">						
			<option value="0">Disable</option>
			<option value="2">Auto</option>
		</select>
		</div>
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUBA">Bass Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUBA" id="AUBA" value="0" min="0" max="15" data-highlight="true">
	</div>	
	<div class="ui-field-contain ui-mini">
		<label for="AUTA">Treble Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUTA" id="AUTA" value="0" min="-8" max="7" data-highlight="true">
	</div>
</div>
<div id="divmusic" class="ui-body-d ui-content">
	<div class="ui-field-contain listcont">
		<ol id="PL_ITEMS" trackdata="plitemsobj" FILE_TYPE="playlist" data-role="listview" data-inset="true" class="ui-mini tracklist">
		</ol>
	</div>	
</div>

<div data-role="popup" id="ppPlControl" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Playlist control</h2>

	<div class="ui-grid-b ui-responsive">
		<input cmdtype="pauseplaylist" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
		<input cmdtype="startplaylist" type="button" class="clMediaButtons ui-btn ui-icon-play ui-btn-icon-left" data-inline="true" value="Play">
		<input cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">
		<input cmdtype="rewplaylist" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Rewind">
		
		<button class="btCancelPopup">Close</button>
	</div>	
	

</div>
	
	
	