<script>
	$(document).ready(function() {
		$.plcreatorInit();
	});	

</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">
<input type="hidden" class="isfield" name="FAKETRINPL" id="FAKETRINPL" value="">

<h1 id="mytitle">Playlist Creator</h1>
	<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
	
<input type="button" data-mini="true" data-inline="true" id="btMediaControl" value="Media control">
<div id="divMediaControl" style="padding-left: 2em; display: none">
	<div class="ui-field-contain ui-mini">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUM">Amp. Mute</label>
		<div style="margin-right: 15px">
		<select class="isfield immediate" name="AUM" id="AUM" data-native-menu="false">						
			<option value="0">Disable</option>
			<option value="2">Auto</option>
		</select>
		</div>
	</div>
	<div class="ui-field-contain ui-mini">
		<label for="AUBA">Bass Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUBA" id="AUBA" value="0" min="0" max="15" data-highlight="true">
	</div>	
	<div class="ui-field-contain ui-mini">
		<label for="AUTA">Treble Level (dB)</label>
		<input class="isfield immediate" type="range" name="AUTA" id="AUTA" value="0" min="-8" max="7" data-highlight="true">
	</div>
	
	<div class="ui-field-contain ui-mini">
		<label for="divTrackCmds">Audio Tracks</label>
		<div id="divTrackCmds" data-role="controlgroup" data-type="horizontal" class="ui-disabled">
			<button id="btPrev" data-mini="true" data-icon="arrow-l" type="button">Prev</button>
			<button id="btPlay" data-mini="true" cmdtype="play" type="button" class="clMediaButtons">Play</button>
			<button id="btPause" data-mini="true" cmdtype="pause" type="button" class="clMediaButtons">Pause</button>
			<button id="btStop" data-mini="true" cmdtype="stop" type="button" class="clMediaButtons">Stop</button>
			<button id="btNext" data-mini="true" data-icon="arrow-r" data-iconpos="right" type="button">Next</button>							
		</div>	
	</div>	
</div>

		<div class="ui-grid-b ui-responsive">
			<div class="ui-block-a" style="padding-top: 0.6em">
				<select id="PL_ITEMS" data-mini="true" trackdata="plitemsobj" FILE_TYPE="playlist" class="tracklist">
				</select>			
			</div>		
			<div class="ui-block-b" >
				<div id="divTrackCmds" data-role="controlgroup" data-type="horizontal" style="padding-top: 0.01em; min-width: 300em">
					<button id="btStartPl" cmdtype="startplaylist" class="clMediaButtons" >Run Playlist</button>
					<button id="btPausePl" cmdtype="pauseplaylist" class="clMediaButtons" >Pause</button>
					<button id="btStop" cmdtype="stop" class="clMediaButtons" >Stop</button>
					<button id="btRewPl" cmdtype="rewplaylist" class="clMediaButtons" >Rewind</button>
				</div>
							
			</div>
		</div>		
		
		<fieldset class="ui-grid-a ui-responsive" >
			<div class="ui-block-a" >	
			
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>Playlist - <span id="pltitle"></span></h3>
					</div>
					<div class="ui-body ui-body-a">							
						<div class="adminonly" data-role="controlgroup" data-type="horizontal">
						<button id="plsave" data-mini="true">Save</button><button id="plremovetrack" data-mini="true" class="minibutton">Del track</button><button id="plclear" data-mini="true" class="minibutton">Clear all</button><button id="plclone" cmd="clone" data-mini="true" >Clone</button><button id="plnew" cmd="new" data-mini="true" >New</button><button id="pldelete" data-mini="true" class="minibutton">Del file</button>
						</div>
						<div class="ui-field-contain listcont">
							<ol id="plsortable" data-role="listview" data-inset="true" class="ui-mini connectedSortable tracklist">
								
							</ol>
						</div>
					</div>	
				</div>	
	
			</div>
			
			<div class="ui-block-b">
				<div class="ui-corner-all custom-corners adminonly">
					<button id="addtrack">&lt;- Add Track</button>				
					
					<div data-role="tabs" id="tabs" class="ui-body-a notrackpopup">
						<div data-role="navbar">
							<ul>
								<li><a href="#divmusic" class="tabnav musictab" tabdataidx="MUSIC_ITEMS" data-ajax="false">Music</a></li>
								<li><a href="#divspot" class="tabnav spottab" tabdataidx="SPOT_ITEMS" data-ajax="false">Spot</a></li>
								<li><a href="#divsensor" class="tabnav sensortab" tabdataidx="SENSOR_ITEMS" data-ajax="false">Sensor</a></li>
							</ul>
						</div>

<div class="ui-grid-b ui-responsive">
	<div class="ui-block-a">
		<div class="ui-field-contain" style="top: -0.6em;">
			<label for="TRACKSORT">Show</label>
			<select data-mini="true" class="TRACKSORT" name="" id="TRACKSORT">
				<option value="0" selected>files names</option>
				<option value="1">TAGS - by Title</option>
				<option value="2">TAGS - by Artist</option>
				<option value="3">TAGS - by Album</option>
				<option value="4">TAGS - by Genre</option>
			</select>					
		</div>					
		
	</div>
	<div class="ui-block-b"><select id="trackfilterGenre" data-mini="true"></select></div>
	<div class="ui-block-c"><input id="trackfilter" data-type="search" data-mini="true" placeholder="Find by title, author or album..."></div>
</div>
						
						<div id="divmusic" class="ui-body-d ui-content">		
							<div class="ui-field-contain listcont">
								<ol id="MUSIC_ITEMS" trackdata="musicitemsobj" FILE_TYPE="music" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>
						</div>
						<div id="divspot" class="ui-body-d ui-content">
							<div class="ui-field-contain listcont">
								<ol id="SPOT_ITEMS" trackdata="spotitemsobj" FILE_TYPE="spot" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>		
						</div>
						
						<div id="divsensor" class="ui-body-d ui-content">
							<div class="ui-field-contain listcont">
								<ol id="SENSOR_ITEMS" trackdata="sensoritemsobj" FILE_TYPE="sensor" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>
						</div>
					
					</div>	
				</div>	
						
			</div>
			
			
		</fieldset>
	

	
	
<div data-role="popup" id="createnewplPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Create New Playlist</h2>

	<fieldset data-role="controlgroup">
		<label for="plname">Playlist name</label>
		<input type="text" name="plname" id="plname" value="" placeholder="new playlist">
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetNewPl">Create</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>	