<script>
	$(document).ready(function() {
		$.relsensInit();
	});
</script>

<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">


<h1>Sensor settings</h1>

	<div class="ui-body ui-body-a ui-corner-all">

		<div class="ui-field-contain">
			<label for="SENSVAL">Status</label>
			<div data-inline="true" id="SENSVAL" class="icoCheck icoCheckOFF isfield"></div>

		</div>

		<div class="ui-field-contain">
			<label for="SENSON">Sensor Enable</label>
			<select class="isfield immediate" name="SENSON" id="SENSON" data-role="slider">
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		</div>

		<div class="ui-field-contain">
			<label for="SENSDEL">Pause Time between two sensor activations (sec)</label>
			<input class="isfield immediate" type="range" name="SENSDEL" id="SENSDEL" value="0" min="0" max="255" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="SENSAPT">Auto Play Time (sec)</label>
			<input class="isfield immediate" type="range" name="SENSAPT" id="SENSAPT" value="0" min="0" max="3600" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="SENSTO">Play Delay Time (sec)</label>
			<input class="isfield immediate" type="range" name="SENSTO" id="SENSTO" value="200" min="200" max="30000" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="SENSST">Power On Stability Time (sec)</label>
			<input class="isfield immediate" type="range" name="SENSST" id="SENSST" value="1" min="1" max="60" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="divmusic">Bind a Playlist</label>
			<div id="divmusic" class="ui-body-d ui-content">
				<select id="PL_ITEMS" trackdata="plitemsobj" FILE_TYPE="playlist" class="tracklist" data-mini="true">
				</select>
				<input type="hidden" name="SENSORPLN" id="SENSORPLN" value="">
			</div>
		</div>
	</div>


	<div class="ui-body ui-body-a ui-corner-all" style="margin-top: 0.6em">
		<h4>Stops the player if the sensor is no longer activated</h4>
		<div class="ui-field-contain">
			<label for="SENSCHK">Check sensor activation</label>
			<select class="isfield immediate" name="SENSCHK" id="SENSCHK" data-role="slider">
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		</div>

		<div class="ui-field-contain">
			<label for="SENSWINCHK">Without any activation, the player stops after (sec)</label>
			<input class="isfield immediate" type="range" name="SENSWINCHK" id="SENSWINCHK" value="5" min="5" max="300" data-highlight="true">		
		</div>

	</div>
	<!--
	<div class="ui-body ui-body-a ui-corner-all" style="margin-top: 0.6em">
		<h4>Enabled from other devices</h4>

		<div class="ui-field-contain">
			<label for="SENSDVEN">Check enable from others</label>
			<select class="isfield immediate" name="SENSDVEN" id="SENSDVEN" data-role="slider">
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		</div>

		<div class="ui-field-contain">
			<div class="ui-grid-a">
				<div class="ui-block-a" style="width: 80%;">
					<label for="divSENSDVID">Devices to ask</label>
					<input class="isfield" type="text" name="SENSDVID" id="SENSDVID" value="" placeholder="ex. eth:73700010,com:73700020">
				</div>
				<div class="ui-block-b" style="width: 4em; padding-top: 1.7em">
					<button id="bttSendSENSDVID" data-mini="true">Ok</button>
				</div>
			</div>
			</div>

		</div>


	</div>
	-->

<a class="clReload" data-role="button">Reload</a>
