<script>
	$(document).ready(function() {			
		
		$.serviceInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">


<h1>Service</h1>
<!--
	<div class="ui-field-contain">
		<p></p>
		<p>1. Insert an USB flash drive in the USB input</p>
		<p>2. Wait some seconds </p>
		<p>3. Press the 'Backup' button to start the backup procedure </p>
		<br>
		<p>4. After 5 seconds unplug the USB flash drive.</p>
		<p>5. In this device wil be present the file "NP10_<SN>_<data>_<Time>.cfg"</p>
		<p>with inside the setup values of NP10 device. </p>		
	</div>
-->
<div class="ui-body ui-body-a ui-corner-all">
	<h4>Backup parameters file</h4>
	<div class="ui-field-contain">	
		<label for="MEMTYPE">Backup Destination</label>
		<select class="" name="MEMTYPE" id="MEMTYPE" data-inline="true">
			<option value="sd" selected>SD</option>
			<option value="usb">USB</option>
		</select>
	</div>
	
	<button id="btBackup" >Backup</button>
</div>
<br />
<br />
<button id="btReboot">System Reboot</button>
<br />
<button id="btRebootSdScan">System Reboot and Scan SD content</button>
<br />
<button id="btFactoryDefault">Factory default</button>



