<script>
	$(document).ready(function() {			
		
		$.updateInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">


<h1>Firmware Update</h1>

	<div class="ui-field-contain">
		<p>Prova testo Prova testo Prova testo Prova testo Prova testo Prova testo </p>
		<p>Prova testo Prova testo Prova testo Prova testo Prova testo Prova testo </p>
		<p>Prova testo Prova testo Prova testo Prova testo Prova testo Prova testo </p>
		
	
	</div>
	
	
	<div class="ui-field-contain">
		<label for="FILE">Bootloader or Application Firmware</label>
		<input type="file" class="upf" name="FILE" id="FILE" value="">
	</div>
	
<button id="btUpload">Upload</button>	
	


