<script>
	$(document).ready(function() {			
		
		$.uploadInit();
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">


<h1>Uploader</h1>
<!--
	<div class="ui-field-contain">
		<label for="targetdir">Destination</label>
		<select id="targetdir" name="targetdir">
			<option value="music">Music</option>
			<option value="spot">Spot</option>
			<option value="sensor">Sensor</option>
			<option value="playlist">Playlist</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="FILE">File</label>
		<input type="file" class="upf" name="FILE" id="FILE" value="">
	</div>
	<div class="ui-field-contain">
		<label for="FILE">File2</label>
		<input type="file" class="upf" name="FILE2" id="FILE2" value="">
	</div>
	<div class="ui-field-contain">
		<label for="FILE">File3</label>
		<input type="file" class="upf" name="FILE3" id="FILE3" value="">
	</div>
	<div class="ui-field-contain">
		<label for="FILE">File4</label>
		<input type="file" class="upf" name="FILE4" id="FILE4" value="">
	</div>
	<div class="ui-field-contain">
		<label for="FILE">File5</label>
		<input type="file" class="upf" name="FILE5" id="FILE5" value="">
	</div>	
	
<button id="btUpload">Upload</button>	
	-->
	
<div class="ui-field-contain">
	<label for="targetdir">Destination</label>
	<select id="targetdir" name="targetdir" data-mini="true">
		<option value="music">Music</option>
		<option value="spot">Spot</option>
		<option value="sensor">Sensor</option>
		<option value="playlist">Playlist</option>
	</select>
</div>	
	

<div id="mydrop" class="dropzone"></div>
<button id="btUploadAll" class="ui-disabled">Upload all</button>
<button id="btReset" class="">Remove all files in the drop files area</button>
	


