<script>
	$(document).ready(function() {
		$.usbcopyInit();
	
	});	
</script>
<input type="hidden" class="isfield" name="LOGINTYPE" id="LOGINTYPE" value="">
<input type="hidden" class="isfield" name="SDPRESENT" id="SDPRESENT" value="">
<input type="hidden" class="isfield" name="USBSTATUS" id="USBSTATUS" value="">
<input type="hidden" class="isfield" name="EXTCHAR" id="EXTCHAR" value="">

<h1>Copy from USB</h1>

	<div class="ui-field-contain">
		<label for="targetdir">Destination</label>
		<div style="margin-right: 0.25em;">
		<select id="targetdir" name="targetdir" data-mini="true">
			<option value="music">Music</option>
			<option value="spot">Spot</option>
			<option value="sensor">Sensor</option>
			<option value="playlist">Playlist</option>
		</select>
		</div>
	</div>
<div class="ui-grid-b ui-responsive">
	<div class="ui-block-a">
		<div class="ui-grid-a ui-responsive">
			<div class="ui-block-a" style="padding-top: 1em">Show Title-Author-Genre</div>
			<div class="ui-block-b"><select data-mini="true" class="" name="SHOWTITLE" id="SHOWTITLE" data-role="slider">
				<option value="0" selected>Off</option>
				<option value="1">On</option>
				</select>					
			</div>
		</div>
		
	</div>
	<div class="ui-block-b"><select id="trackfilterGenre" data-mini="true"></select></div>
	<div class="ui-block-c"><input id="trackfilter" data-type="search" data-mini="true" placeholder="Find by title or author..."></div>
</div>

<button id="btSelectAll" data-inline="true" data-mini="true">Select all</button><button id="btDeselectAll" data-inline="true" data-mini="true">Deselect all</button>
<div class="ui-field-contain listcont" style="margin: 0">
	<ol id="USB_AUDIO_ITEMS" data-role="listview" data-inset="true" class="isfield ui-mini">
	</ol>
</div>	

<span id="spMsg"></span>
<button id="btAbortCopy">Abort copy</button>
<button id="btCopy">Copy</button>
