<script>
	$(document).ready(function() {
	
		$.globalInit();
		
		$('li').removeClass('ui-corner-bottom');
		$('ul')
			.addClass('ui-corner-top')
			.removeClass('ui-corner-all')
			.sortable({
				'containment': 'parent',
				'opacity': 0.6,
				update: function(event, ui) {
					//alert("dropped");
				}
			});		
	});	
</script>


<h1>Scheduler</h1>

<div data-role="content" style="border-left: 0.5em solid #2f3f5f; padding-left: 1em">
	<ul data-role="listview" data-inset="true">
		<li data-role="list-divider" role="heading">Re-order</li>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
	</ul>
	<a data-role="button">Submit</a>
</div>