<script>
	$(document).ready(function() {		
		$.reqGetData()
			.always(function() {
				$.audioInit();
			});
	});	
</script>


<h1>Audio settings</h1>

	<div class="ui-field-contain">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>

	<div class="ui-body ui-body-a ui-corner-all">
		
		<div class="ui-field-contain" >
			<label for="FDIN">Fade In (msec)</label>
			<input class="isfield immediate" type="range" name="FDIN" id="FDIN" value="1" min="0" max="2000" data-highlight="true">
		</div>
		
		<div class="ui-field-contain" >
			<label for="FDOUT">Fade Out (msec)</label>
			<input class="isfield immediate" type="range" name="FDOUT" id="FDOUT" value="1" min="0" max="2000" data-highlight="true">
		</div>
		
		<div class="ui-field-contain" >
			<label for="CRFDI">Cross Fade In (msec)</label>
			<input class="isfield immediate" type="range" name="CRFDI" id="CRFDI" value="1" min="0" max="2000" data-highlight="true">
		</div>
		
		<div class="ui-field-contain" >
			<label for="CRFDO">Cross Fade Out (msec)</label>
			<input class="isfield immediate" type="range" name="CRFDO" id="CRFDO" value="1" min="0" max="2000" data-highlight="true">
		</div>		
	</div>	

	<div class="ui-field-contain">
		<label for="AUM">Amp. Mute</label>
		<select class="isfield immediate" name="AUM" id="AUM" data-native-menu="false">						
			<option value="0">Disable</option>
			<option value="2">Auto</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="AUADMIXON">Audio Line In MIX</label>
		<select class="isfield immediate" name="AUADMIXON" id="AUADMIXON" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>	
	
	<div id="divAUADMIXONdata" class="ui-body ui-body-a ui-corner-all" style="padding-left: 2em">
		<div class="ui-field-contain">
			<label for="AULINL">Line IN Level (dB)</label>
			<input class="isfield immediate" type="range" name="AULINL" id="AULINL" value="0" min="-31" max="-3" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AULINL2">Line IN Level MIX (dB)</label>
			<input class="isfield immediate" type="range" name="AULINL2" id="AULINL2" value="0" min="-31" max="-3" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUMIXC">L/R Line In Mode</label>
			<select class="isfield immediate" name="AUMIXC" id="AUMIXC" data-native-menu="false">
				<option value="0">LineIN Stereo (L/R)</option>
				<option value="1">LineIN Mono (L+R)</option>
				<option value="2">LineIN Left(L)</option>
				<option value="3">LineIN Right (R)</option>
			</select>
		</div>
	</div>
	
	<div class="ui-body ui-body-a ui-corner-all">
		<div class="ui-field-contain">
			<label for="AUOT">Line Out Mode</label>
			<select class="isfield immediate" name="AUOT" id="AUOT" data-native-menu="false">
				<option value="0">Stereo</option>
				<option value="1">Mono</option>
			</select>
		</div>
		
		<div class="ui-field-contain">
			<label for="AUOI">Out Mode</label>
			<select class="isfield immediate" name="AUOI" id="AUOI" data-native-menu="false">
				<option value="0">Normal</option>
				<option value="1">Left</option>
			</select>
		</div>	
	</div>
	
	<div class="ui-field-contain">
		<label for="AUEQ5ON">5 Band Equalizer</label>
		<select class="isfield immediate" name="AUEQ5ON" id="AUEQ5ON" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>	
	
	<div id="divAUEQ5ONdata" class="ui-body ui-body-a ui-corner-all" style="padding-left: 2em; display: none;">
	
		<div class="ui-field-contain">
			<label for="AUBA">Bass Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUBA" id="AUBA" value="0" min="0" max="15" data-highlight="true">
		</div>
		
		<div class="ui-field-contain">
			<label for="AUBF">Bass Freq (Hz)</label>
			<input class="isfield immediate" type="range" name="AUBF" id="AUBF" step="10" value="20" min="20" max="150" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUTA">Treble Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUTA" id="AUTA" value="0" min="-8" max="7" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUTF">Treble Freq (Hz)</label>
			<input class="isfield immediate" type="range" name="AUTF" id="AUTF" step="1000" value="1000" min="1000" max="15000" data-highlight="true">
		</div>
	</div>
		

	<div id="divAUEQ5ONdata2" class="ui-body ui-body-a ui-corner-all" style="padding-left: 2em; display: none;">
	
		<div class="ui-field-contain">
			<label for="AUEQ5L1">Bass Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUEQ5L1" id="AUEQ5L1" value="0" min="-32" max="32" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUEQ5F1">Bass/Mid-Bass cutoff Freq (Hz)</label>
			<input class="isfield immediate" type="range" name="AUEQ5F1" id="AUEQ5F1" value="20" min="20" max="150" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUEQ5L2">Mid-Bass Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUEQ5L2" id="AUEQ5L2" value="0" min="-32" max="32" data-highlight="true">
		</div>		
		
		<div class="ui-field-contain">
			<label for="AUEQ5F2">Mid-Bass/Mid cutoff Freq (Hz)</label>
			<input class="isfield immediate" type="range" name="AUEQ5F2" id="AUEQ5F2" value="50" min="1000" max="15000" data-highlight="true">
		</div>
		
		<div class="ui-field-contain">
			<label for="AUEQ5L3">Mid Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUEQ5L3" id="AUEQ5L3" value="0" min="-32" max="32" data-highlight="true">
		</div>		
		
		<div class="ui-field-contain">
			<label for="AUEQ5F3">Mid-High/Treble cutoff Freq (Hz)</label>
			<input class="isfield immediate" type="range" name="AUEQ5F3" id="AUEQ5F3" value="2000" min="2000" max="15000" data-highlight="true">
		</div>		

		<div class="ui-field-contain">
			<label for="AUEQ5L4">Treble Level (dB)</label>
			<input class="isfield immediate" type="range" name="AUEQ5L4" id="AUEQ5L4" value="0" min="-32" max="32" data-highlight="true">
		</div>		
		
		<div class="ui-field-contain">
			<label for="AUEQ5F4">Freq 4 (Hz)</label>
			<input class="isfield immediate" type="range" name="AUEQ5F4" id="AUEQ5F4" value="2000" min="2000" max="15000" data-highlight="true">
		</div>

		<div class="ui-field-contain">
			<label for="AUEQ5L5">Level 5 (0.5dB)</label>
			<input class="isfield immediate" type="range" name="AUEQ5L5" id="AUEQ5L5" value="0" min="-32" max="32" data-highlight="true">
		</div>
		
	</div>
