<script>
	var clock;
	$(document).ready(function() {
		$.clockInit();	
		
		updateClock = function() {			
			sec = $.timeToSeconds($("#myclock").text())+1;
			$("#myclock").text($.secondsToTime(sec));
			clock = setTimeout(updateClock, 1000);
		}
		$.reqGetData()
			.done(function() {
				clearTimeout(clock);
				sec = parseInt($("#RTCCHH").val())*3600 + parseInt($("#RTCCMM").val())*60 + parseInt($("#RTCCSS").val());		
				$("#myclock").text($.secondsToTime(sec));
				clock = setTimeout(updateClock, 1000);
				
				$("#mydate").text($("#RTCCWD option:selected").text() + " " + $.strPad($("#RTCCD").val(),2) + "/" + $.strPad($("#RTCCM").val(),2) + "/" + $.strPad($("#RTCCY").val(),2));
			});
	});
</script>

<h1>Date&amp;Time settings</h1>

<div class="ui-body ui-body-a ui-corner-all">
	
	<label>Board Date <span id="mydate"></span></label>
	<div data-role="controlgroup" data-type="horizontal">
		
		<select class="isfield" name="RTCCWD" id="RTCCWD">
			<option value="1">Monday</option>
			<option value="2">Tuesday</option>
			<option value="3">Wednesday</option>
			<option value="4">Thursday</option>
			<option value="5">Friday</option>
			<option value="6">Saturday</option>
			<option value="7">Sunday</option>
		</select>
	
		<select class="isfield" name="RTCCD" id="RTCCD">
		</select>

		<select class="isfield" name="RTCCM" id="RTCCM">
		</select>

		<select class="isfield" name="RTCCY" id="RTCCY">
		</select>
	</div>

</div>
<br />
<div class="ui-body ui-body-a ui-corner-all">
	<label>Board Time <span id="myclock"></span></label>
	<div data-role="controlgroup" data-type="horizontal">

		<select class="isfield" name="RTCCHH" id="RTCCHH">
		</select>

		<select class="isfield" name="RTCCMM" id="RTCCMM">
		</select>

		<select class="isfield" name="RTCCSS" id="RTCCSS">
		</select>
	</div>
</div>	
<input type="button" value="Sync clock using your PC time and date (press 'save' button, to update the board)" class="btSyncClock">
<br />

<div class="ui-body ui-body-a ui-corner-all">
	<strong>NTP service</strong>
	
	<div class="ui-field-contain">
		<label for="NTPEN">Syncronize Date&amp;Time</label>
		<select class="isfield" name="NTPEN" id="NTPEN" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>
	<div id="divNtpEnabled" style="display: none">
		<div class="ui-field-contain ntpfield ui-disabled">
			<label for="TIMEZONE">Local Time Zone</label>
			<select class="isfield" name="TIMEZONE" id="TIMEZONE" >
				<option value="0,-11:00">(GMT-11:00) Midway Island, Samoa</option>
				<option value="1,-10:00">(GMT-10:00) Hawaii-Aleutian</option>
				<option value="2,-10:00">(GMT-10:00) Hawaii</option>
				<option value="3,-09:30">(GMT-09:30) Marquesas Islands</option>
				<option value="4,-09:00">(GMT-09:00) Gambier Islands</option>
				<option value="5,-09:00">(GMT-09:00) Alaska</option>
				<option value="6,-08:00">(GMT-08:00) Tijuana, Baja California</option>
				<option value="7,-08:00">(GMT-08:00) Pitcairn Islands</option>
				<option value="8,-08:00">(GMT-08:00) Pacific Time (US & Canada)</option>
				<option value="9,-07:00">(GMT-07:00) Mountain Time (US & Canada)</option>
				<option value="10,-07:00">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
				<option value="11,-07:00">(GMT-07:00) Arizona</option>
				<option value="12,-06:00">(GMT-06:00) Saskatchewan, Central America</option>
				<option value="13,-06:00">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
				<option value="14,-06:00">(GMT-06:00) Easter Island</option>
				<option value="15,-06:00">(GMT-06:00) Central Time (US & Canada)</option>
				<option value="16,-05:00">(GMT-05:00) Eastern Time (US & Canada)</option>
				<option value="17,-05:00">(GMT-05:00) Cuba</option>
				<option value="18,-05:00">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
				<option value="19,-04:30">(GMT-04:30) Caracas</option>
				<option value="20,-04:00">(GMT-04:00) Santiago</option>
				<option value="21,-04:00">(GMT-04:00) La Paz</option>
				<option value="22,-04:00">(GMT-04:00) Faukland Islands</option>
				<option value="23,-04:00">(GMT-04:00) Brazil</option>
				<option value="24,-04:00">(GMT-04:00) Atlantic Time (Goose Bay)</option>
				<option value="25,-04:00">(GMT-04:00) Atlantic Time (Canada)</option>
				<option value="26,-03:30">(GMT-03:30) Newfoundland</option>
				<option value="27,-03:00">(GMT-03:00) UTC-3</option>
				<option value="28,-03:00">(GMT-03:00) Montevideo</option>
				<option value="29,-03:00">(GMT-03:00) Miquelon, St. Pierre</option>
				<option value="30,-03:00">(GMT-03:00) Greenland</option>
				<option value="31,-03:00">(GMT-03:00) Buenos Aires</option>
				<option value="32,-03:00">(GMT-03:00) Brasilia</option>
				<option value="33,-02:00">(GMT-02:00) Mid-Atlantic</option>
				<option value="34,-01:00">(GMT-01:00) Cape Verde Is.</option>
				<option value="35,-01:00">(GMT-01:00) Azores</option>
				<option value="36,+00:00">(GMT) Greenwich Mean Time : Belfast</option>
				<option value="37,+00:00">(GMT) Greenwich Mean Time : Dublin</option>
				<option value="38,+00:00">(GMT) Greenwich Mean Time : Lisbon</option>
				<option value="39,+00:00">(GMT) Greenwich Mean Time : London</option>
				<option value="39,+00:00">(GMT) Monrovia, Reykjavik</option>
				<option value="40,+01:00">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
				<option value="41,+01:00">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
				<option value="42,+01:00">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
				<option value="43,+01:00">(GMT+01:00) West Central Africa</option>
				<option value="44,+01:00">(GMT+01:00) Windhoek</option>
				<option value="45,+02:00">(GMT+02:00) Beirut</option>
				<option value="46,+02:00">(GMT+02:00) Cairo</option>
				<option value="47,+02:00">(GMT+02:00) Gaza</option>
				<option value="48,+02:00">(GMT+02:00) Harare, Pretoria</option>
				<option value="49,+02:00">(GMT+02:00) Jerusalem</option>
				<option value="50,+02:00">(GMT+02:00) Minsk</option>
				<option value="51,+02:00">(GMT+02:00) Syria</option>
				<option value="52,+03:00">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
				<option value="53,+03:00">(GMT+03:00) Nairobi</option>
				<option value="54,+03:30">(GMT+03:30) Tehran</option>
				<option value="55,+04:00">(GMT+04:00) Abu Dhabi, Muscat</option>
				<option value="56,+04:00">(GMT+04:00) Yerevan</option>
				<option value="57,+04:30">(GMT+04:30) Kabul</option>
				<option value="58,+05:00">(GMT+05:00) Ekaterinburg</option>
				<option value="59,+05:00">(GMT+05:00) Tashkent</option>
				<option value="60,+05:30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
				<option value="61,+05:45">(GMT+05:45) Kathmandu</option>
				<option value="62,+06:00">(GMT+06:00) Astana, Dhaka</option>
				<option value="63,+06:00">(GMT+06:00) Novosibirsk</option>
				<option value="64,+06:30">(GMT+06:30) Yangon (Rangoon)</option>
				<option value="65,+07:00">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
				<option value="66,+07:00">(GMT+07:00) Krasnoyarsk</option>
				<option value="67,+08:00">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
				<option value="68,+08:00">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
				<option value="69,+08:00">(GMT+08:00) Perth</option>
				<option value="70,+08:45">(GMT+08:45) Eucla</option>
				<option value="71,+09:00">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
				<option value="72,+09:00">(GMT+09:00) Seoul</option>
				<option value="73,+09:00">(GMT+09:00) Yakutsk</option>
				<option value="74,+09:30">(GMT+09:30) Adelaide</option>
				<option value="75,+09:30">(GMT+09:30) Darwin</option>
				<option value="76,+10:00">(GMT+10:00) Brisbane</option>
				<option value="77,+10:00">(GMT+10:00) Hobart</option>
				<option value="78,+10:00">(GMT+10:00) Vladivostok</option>
				<option value="79,+10:30">(GMT+10:30) Lord Howe Island</option>
				<option value="80,+11:00">(GMT+11:00) Solomon Is., New Caledonia</option>
				<option value="81,+11:00">(GMT+11:00) Magadan</option>
				<option value="82,+11:30">(GMT+11:30) Norfolk Island</option>
				<option value="83,+12:00">(GMT+12:00) Anadyr, Kamchatka</option>
				<option value="84,+12:00">(GMT+12:00) Auckland, Wellington</option>
				<option value="85,+12:00">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
				<option value="86,+12:45">(GMT+12:45) Chatham Islands</option>
				<option value="87,+13:00">(GMT+13:00) Nuku'alofa</option>
				<option value="88,+14:00">(GMT+14:00) Kiritimati</option>
			</select>
		</div>	

		<div class="ui-field-contain ntpfield ui-disabled">
			<label for="NTPADDR1">Primary NTP Server</label>
			<div class="divCustomsel" data-role="controlgroup" data-type="horizontal">
				<select class="customsel" data-mini="true">
					<option value="ntp1.inrim.it">ntp1.inrim.it</option>
					<option value="ntp2.inrim.it">ntp2.inrim.it</option>
					<option value="0.pool.ntp.org">0.pool.ntp.org</option>
					<option value="1.pool.ntp.org">1.pool.ntp.org</option>
					<option value="0.europe.pool.ntp.org">0.europe.pool.ntp.org</option>
					<option value="1.europe.pool.ntp.org">1.europe.pool.ntp.org</option>
					<option value="custom">custom</option>
				</select>
				<input class="isfield hascustomsel custominput" type="text" id="NTPADDR1" >
			</div>			
		</div>		
		<div class="ui-field-contain ntpfield ui-disabled">
			<label for="NTPADDR2">Secondary NTP Server</label>
			<div class="divCustomsel" data-role="controlgroup" data-type="horizontal">
				<select class="customsel" data-mini="true">
					<option value="ntp1.inrim.it">ntp1.inrim.it</option>
					<option value="ntp2.inrim.it">ntp2.inrim.it</option>
					<option value="0.pool.ntp.org">0.pool.ntp.org</option>
					<option value="1.pool.ntp.org">1.pool.ntp.org</option>
					<option value="0.europe.pool.ntp.org">0.europe.pool.ntp.org</option>
					<option value="1.europe.pool.ntp.org">1.europe.pool.ntp.org</option>
					<option value="custom">custom</option>
				</select>
				<input class="isfield hascustomsel custominput" type="text" id="NTPADDR2" >
			</div>
		</div>	
		
		<div class="ui-field-contain ntpfield ui-disabled">
			<label for="NTPSYNCPD">Sync through NTP Server any</label>
			<select class="isfield" name="NTPSYNCPD" id="NTPSYNCPD" data-inline="true">
				<option value="0">1 day</option>
				<option value="1">3 day</option>
				<option value="2">7 day</option>
				<option value="3">14 day</option>
				<option value="4">At board's startup</option>
			</select>
			
			<button data-inline="true" id="NTPSYNCNOW" value="1">Sync Now</button>
		</div>		
	</div>
</div>	
	
<input type="button" value="Save" class="btApplyClock">

