<script>

	$(document).ready(function() {
		$.reqGetData()
			.always(function() {
				$.comrs485Init();
			});
	});
</script>

<h1>RS485 settings</h1>

<!--div class="ui-field-contain">
	<label for="COMRS485">RS485 interface</label>
	<select class="isfield" name="COMRS485" id="COMRS485" data-role="slider">
		<option value="0" selected>Off</option>
		<option value="1">On</option>
	</select>
</div-->

	<div class="ui-field-contain" >
		<label for="COMIDDEV">Device ID</label>
		<input class="isfield" type="range" name="COMIDDEV" id="COMIDDEV" value="1" min="1" max="255" data-highlight="true">

	</div>	
	
	
	<div class="ui-field-contain">
		<label for="COMBR">Baud rate</label>
		<select class="isfield" name="COMBR" id="COMBR" data-native-menu="false">
			<option value="7">115200</option>
			<option value="6">57600</option>
			<option value="5">38400</option>
			<option value="4">19200</option>
			<option value="3">9600</option>
			<option value="2">4800</option>
			<option value="1">2400</option>
			<option value="0">1200</option>

		</select>
	</div>

	<div class="ui-field-contain">
		<label for="COMDB">Data bits</label>
		<select class="isfield" name="COMDB" id="COMDB" data-native-menu="false">
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="COMSB">Stop bits</label>
		<select class="isfield" name="COMSB" id="COMSB" data-native-menu="false">
			<option value="1">1</option>
			<option value="2">2</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="COMPB">Parity bit</label>
		<select class="isfield" name="COMPB" id="COMPB" data-native-menu="false">
			<option value="0">None</option>
			<option value="1">Odd</option>
			<option value="2">Even</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="COMCK">Chksum</label>
		<select class="isfield" name="COMCK" id="COMCK" data-native-menu="false">
			<option value="0">None</option>
			<option value="1">Enabled</option>
		</select>
	</div>

	<div class="ui-field-contain">
		<label for="COMDL">Response delay (ms)</label>
		<input class="isfield" type="range" name="COMDL" id="COMDL" value="0" min="0" max="50" data-highlight="true">
	</div>	
	
	<!--div class="ui-field-contain">
		<label for="COMTO">Timeout (ms)</label>
		<input class="isfield" type="range" name="COMTO" id="COMTO" value="15" min="0" max="50" data-highlight="true">
	</div-->

	<div class="ui-field-contain">
		<label for="COMPT">Protocol</label>
		<select class="isfield" name="COMPT" id="COMPT" data-native-menu="false">
			<option value="1">Maginet</option>
			<!--option value="2">Telnet</option-->
		</select>
	</div>
	
<input type="button" value="Apply" class="btApply">
