<script>	
$(document).ready(function() {

	$("#ETHDHCP").change(function() {
		if ($(this).val()==1) {	
			$("#staticip_data").slideUp();			
		} else {
			$("#staticip_data").slideDown();
		}
	});
	
	$.reqGetData();	
});	
</script>

<h1>LAN settings</h1>

<div class="ui-field-contain">
	<label for="ETHDHCP">Automatic IP assignment (DHCP)</label>
	<select class="isfield" name="ETHDHCP" id="ETHDHCP" data-role="slider">
		<option value="0" selected>Off</option>
		<option value="1">On</option>
	</select>
</div>

<div id="staticip_data" style="padding-left: 2em; display: none">

	<div class="ui-field-contain">
		<label for="ETHIPAD">Static IP assignment</label>
		<input class="isfield" type="text" name="ETHIPAD" id="ETHIPAD" value="" placeholder="">
	</div>

	<div class="ui-field-contain">
		<label for="ETHNM">Netmask</label>
		<input class="isfield" type="text" name="ETHNM" id="ETHNM" value="" placeholder="">
	</div>

	<div class="ui-field-contain">
		<label for="ETHGAD">Gateway</label>
		<input class="isfield" type="text" name="ETHGAD" id="ETHGAD" value="" placeholder="">
	</div>

	<div class="ui-field-contain">
		<label for="ETHDNS1">DNS1</label>
		<input class="isfield" type="text" name="ETHDNS1" id="ETHDNS1" value="" placeholder="">
	</div>

	<div class="ui-field-contain">
		<label for="ETHDNS2">DNS2</label>
		<input class="isfield" type="text" name="ETHDNS2" id="ETHDNS2" value="" placeholder="">
	</div>
	
</div>

<div class="ui-field-contain">
	<label for="ETHHN">Hostname</label>
	<input class="isfield" type="text" name="ETHHN" id="ETHHN" value="" placeholder="audioplayer">
</div>

<input type="button" value="Apply" class="btApply">
