<script>
	$(document).ready(function() {
	$.reqData("get", {AUVOL: ''})
		.always(function() {
			$.playlistInit();
		
		});		
	});	
</script>


<h1>Playlist</h1>

	<div class="ui-field-contain">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>

	<div id="divmusic" class="ui-body-d ui-content">
		<div class="ui-field-contain listcont">
			<ol id="PL_ITEMS" trackdata="plitemsobj" data-role="listview" data-inset="true" class="ui-mini tracklist">
			</ol>
		</div>	
	</div>

	<div id="divMediaButtons" class="ui-field-contain">
		<input id="btStartPl" cmdtype="startplaylist" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Run Playlist">
		<input id="btPause" cmdtype="pause" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
		<input id="btStop" cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">
	</div>
	
	
	