<script>
	$(document).ready(function() {
	$.reqData("get", {AUVOL: ''})
		.always(function() {
			$.playerInit();
		
		});		
	});	
</script>


<h1>Player</h1>

	<div class="ui-field-contain">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>

	<div data-role="tabs" id="tabs" class="ui-body-a">
		<div data-role="navbar">
			<ul>
				<li><a href="#divmusic" class="tabnav musictab" data-ajax="false">Music</a></li>
				<li><a href="#divspot" class="tabnav spottab" data-ajax="false">Spot</a></li>
				<li><a href="#divsensor" class="tabnav sensortab" data-ajax="false">Sensor</a></li>
			</ul>
		</div>
		<div id="divmusic" class="ui-body-d ui-content">		
			<div class="ui-field-contain listcont">
				<ol id="MUSIC_ITEMS" trackdata="musicitemsobj" FILE_TYPE="music" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>
		</div>
		<div id="divspot" class="ui-body-d ui-content">
			<div class="ui-field-contain listcont">
				<ol id="SPOT_ITEMS" trackdata="spotitemsobj" FILE_TYPE="spot" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>		
		</div>
		
		<div id="divsensor" class="ui-body-d ui-content">
			<div class="ui-field-contain listcont">
				<ol id="SENSOR_ITEMS" trackdata="sensoritemsobj" FILE_TYPE="sensor" data-role="listview" data-inset="true" class="ui-mini tracklist">
				</ol>
			</div>
		</div>
	
	</div>	
	
	<div id="divTrackCmds" class="ui-field-contain ui-disabled">
		<input cmdtype="pause" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
		<input cmdtype="play" type="button" class="clMediaButtons ui-btn ui-icon-play ui-btn-icon-left" data-inline="true" value="Play">
		<input cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">
	</div>
	
	
	