<script>
	$(document).ready(function() {
	$.reqData("get", {AUVOL: ''})
		.always(function() {
			$.plcreatorInit();		
		});		
	});	

</script>


<h1>Playlist Creator</h1>

	<div class="ui-field-contain">
		<label for="AUVOL">Volume OUT (dB)</label>
		<input class="isfield immediate" factor="-1" step="0.5" type="range" name="AUVOL" id="AUVOL" value="0" min="-32" max="0" data-highlight="true">
	</div>

	<div id="divmusic" class="ui-body-d ui-content">
		<select id="PL_ITEMS" trackdata="plitemsobj" FILE_TYPE="playlist" class="tracklist">
		</select>
	</div>

		<fieldset class="ui-grid-a ui-responsive" >
			<div class="ui-block-a" >	
			
				<div class="ui-corner-all custom-corners">
					<div class="ui-bar ui-bar-a">
						<h3>Playlist - <span id="pltitle"></span></h3>
					</div>
					<div class="ui-body ui-body-a">							
						<div data-role="controlgroup" data-type="horizontal">
						<button id="plsave" data-mini="true">Save</button><button id="plremovetrack" data-mini="true">Remove track</button><button id="plclear" data-mini="true">Clear all</button><button id="plclone" cmd="clone" data-mini="true">Clone</button><button id="plnew" cmd="new" data-mini="true">New</button><button id="pldelete" data-mini="true">Delete file</button>
						</div>
						<div class="ui-field-contain listcont">
							<ol id="plsortable" data-role="listview" data-inset="true" class="ui-mini connectedSortable tracklist">
								
							</ol>
						</div>
					</div>	
				</div>	
	
			</div>
			
			<div class="ui-block-b">
				<div class="ui-corner-all custom-corners">
					<button id="addtrack">&lt;- Add Track</button>
					<div data-role="tabs" id="tabs" class="ui-body-a">
						<div data-role="navbar">
							<ul>
								<li><a href="#divmusic" class="tabnav musictab" tabdataidx="MUSIC_ITEMS" data-ajax="false">Music</a></li>
								<li><a href="#divspot" class="tabnav spottab" tabdataidx="SPOT_ITEMS" data-ajax="false">Spot</a></li>
								<li><a href="#divsensor" class="tabnav sensortab" tabdataidx="SENSOR_ITEMS" data-ajax="false">Sensor</a></li>
							</ul>
						</div>
						<div id="divmusic" class="ui-body-d ui-content">		
							<div class="ui-field-contain listcont">
								<ol id="MUSIC_ITEMS" trackdata="musicitemsobj" FILE_TYPE="music" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>
						</div>
						<div id="divspot" class="ui-body-d ui-content">
							<div class="ui-field-contain listcont">
								<ol id="SPOT_ITEMS" trackdata="spotitemsobj" FILE_TYPE="spot" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>		
						</div>
						
						<div id="divsensor" class="ui-body-d ui-content">
							<div class="ui-field-contain listcont">
								<ol id="SENSOR_ITEMS" trackdata="sensoritemsobj" FILE_TYPE="sensor" data-role="listview" data-inset="true" class="ui-mini tracklist">
								</ol>
							</div>
						</div>
					
					</div>	
				</div>	
						
			</div>
			
			
		</fieldset>
	
	<div id="divMediaButtons" class="ui-field-contain">
		<div class="ui-grid-a ui-responsive">
			<div class="ui-block-a">
				<input id="btStartPl" cmdtype="startplaylist" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Run Playlist">
				<input id="btPause" cmdtype="pause" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
				<input id="btStop" cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">			
			</div>
			<div class="ui-block-a" id="divTrackCmds" class="ui-disabled">
				<input id="btPrev" data-icon="arrow-l" type="button" class="ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Previous">
				<input id="btPlay" cmdtype="play" type="button" class="clMediaButtons ui-btn ui-icon-play ui-btn-icon-left" data-inline="true" value="Play single track">
				<input id="btPause" cmdtype="pause" type="button" class="clMediaButtons ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Pause">
				<input id="btStop" cmdtype="stop" type="button" class="clMediaButtons ui-btn ui-icon-stop ui-btn-icon-left" data-inline="true" value="Stop">			
				<input id="btNext" data-icon="arrow-r" data-iconpos="right" type="button" class="ui-btn ui-icon-pause ui-btn-icon-left" data-inline="true" value="Next">			
			</div>
		</div>	
	</div>
	
	
<div data-role="popup" id="createnewplPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Create New Playlist</h2>

	<fieldset data-role="controlgroup">
		<label for="plname">Playlist name</label>
		<input type="text" name="plname" id="plname" value="" placeholder="new playlist">
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetNewPl">Create</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>	