<script>
	$(document).ready(function() {		
		$.reqGetData()
			.always(function() {
				$.relsensInit();
			});
	});	
</script>


<h1>Relay settings</h1>
<input type="hidden" class="isfield" name="DEVFN" id="DEVFN" value="">
	<div class="ui-field-contain">
		<label for="RELSET">Relay Test</label>
		<select class="isfield" name="RELSET" id="RELSET" data-role="slider">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</div>

	
	<div id="divRelData" class="ui-body ui-body-a ui-corner-all">
		<div class="ui-field-contain">
			<label for="RELM">Relay Mode</label>
			<select class="isfield immediate" name="RELM" id="RELM" data-native-menu="false">
				<option value="0">Remote</option>
				<option value="1">Play Status</option>
				<!--<option value="2">Playlist</option> -->
				<option value="3">Timer</option>
			</select>
		</div>

		<div class="ui-field-contain">
			<label for="RELINV">Logics</label>
			<select class="isfield immediate" name="RELINV" id="RELINV" data-native-menu="false">
				<option value="0">Normal</option>
				<option value="1">Inverted</option>
			</select>
		</div>		

		<div id="divRELADV" class="ui-field-contain" style="display: none">
			<label for="RELADV">RelayAdvance (ms)</label>
			<input class="isfield immediate" type="range" name="RELADV" id="RELADV" value="0" min="0" max="3000" data-highlight="true">
		</div>
		
	</div>
	


<a class="clReload" data-role="button">Reload</a>	