<script>
	$(document).ready(function() {

		$.schedulerInit();

	});
</script>


<h1>Scheduler</h1>
<input type="hidden" name="DIOC" id="DIOC" value="">

<div class="ui-body ui-body-a ui-corner-all">

	<div class="ui-field-contain">
		<label for="schedlist">Scheduler files</label>
		<select name="schedlist" id="schedlist" >
		</select>
	</div>

	<div class="ui-grid-b ui-responsive">

		<div class="ui-block-a">
			<button id="btDeleteScheduler" class="ui-btn ui-shadow ui-corner-all ">Delete</button>
		</div>

		<div class="ui-block-b">
			<button id="btNewScheduler" cmd="new" class="ui-btn ui-shadow ui-corner-all ">Create new</button>
		</div>
		
		<div class="ui-block-c">
			<button id="btCloneScheduler" cmd="clone" class="ui-btn ui-shadow ui-corner-all ">Create clone</button>
		</div>
		
	</div>

	<div class="ui-grid-a ui-responsive">

		<div class="ui-block-a schedCommands">
			<div class="ui-field-contain">
				<label for="schtype">Scheduler type</label>
				<select name="schtype" id="schtype" data-native-menu="false" data-mini="true">
					<option value="0">Every day</option>
					<option value="1">Weekly</option>
					<option value="2">Monthly</option>
					<option value="3">Specific</option>
				</select>
			</div>

		</div>

		<div class="ui-block-b schedCommands">

			<fieldset id="checkweekdays" data-role="controlgroup" style="display: none; max-width: 20em">
				<input type="checkbox" name="wday1" id="wday1" data-mini="true">
				<label for="wday1">Monday</label>
				<input type="checkbox" name="wday2" id="wday2" data-mini="true">
				<label for="wday2">Tuesday</label>
				<input type="checkbox" name="wday3" id="wday3" data-mini="true">
				<label for="wday3">Wednesday</label>
				<input type="checkbox" name="wday4" id="wday4" data-mini="true">
				<label for="wday4">Thusday</label>
				<input type="checkbox" name="wday5" id="wday5" data-mini="true">
				<label for="wday5">Friday</label>
				<input type="checkbox" name="wday6" id="wday6" data-mini="true">
				<label for="wday6">Saturday</label>
				<input type="checkbox" name="wday7" id="wday7" data-mini="true">
				<label for="wday7">Sunday</label>

			</fieldset>

			<div id="specificdays" style="display: none;">
				<label for="days">Days</label>
				<input type="text" id="days" name="days" placeholder="ex. '1,3,8,24', '5-20' or '1,12,20-31'">
			</div>

		</div>

	</div>


</div>
<button id="btSaveScheduler" class="ui-btn ui-shadow ui-corner-all ">Save</button>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btAddPlaylist" class="schedCommands ui-mini ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-left">Add Playlist</button></div>
		<div class="ui-block-b"><button id="btAddSpot" class="schedCommands ui-mini ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-left">Add Spot</button></div>
		<div class="ui-block-c"><button id="btAddEvent" class="schedCommands ui-mini ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-left">Add Event</button></div>
	</div>


<div data-role="popup" id="eventPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Edit Event</h2>

	<fieldset>
		<label for="title">Title</label>
		<input type="text" name="title" id="title" value="">
	</fieldset>

	<fieldset data-role="controlgroup">
		<legend>Output type</legend>
			<input type="radio" name="outtype" id="relay" value="relay">
			<label for="relay">Relay</label>
			<input type="radio" name="outtype" id="outline" value="outline">
			<label for="outline">Logic Output</label>
			<input type="radio" name="outtype" id="linein" value="linein">
			<label for="linein">LineIN</label>
			
	</fieldset>

	<fieldset id="divOutLineIdx" class="ui-disabled">
		<label for="idx">Output ID</label>
		<select name="idx" id="idx" data-mini="true">
		</select>
	</fieldset>

	<fieldset>
		<label id="lblOutvalue" for="outvalue">Output value</label>
		<select name="outvalue" id="outvalue" data-role="slider" data-mini="true">
			<option value="0">OFF</option>
			<option value="1">ON</option>
		</select>
	</fieldset>	
	
	Start at:
	<fieldset data-role="controlgroup">
		<div class="ui-grid-c">
			<div class="ui-block-a">Hours
				<input type="number" name="hours" id="hours" value="0" min="0" max="23">
			</div>
			<div class="ui-block-b">Min
				<input type="number" name="minutes" id="minutes" value="0" min="0" max="59">
			</div>
			<div class="ui-block-c">Sec
				<input type="number" name="seconds" id="seconds" value="0" min="0" max="59">
			</div>

		</div>
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetEvent">Set</button></div>
		<div class="ui-block-b"><button id="btRemoveEvent">Remove</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>


<div data-role="popup" id="playlistPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Edit Playlist</h2>

	<fieldset>
		<label for="PL_ITEMS" class="select">Playlists</label>
		<select class="tracklist" name="PL_ITEMS" id="PL_ITEMS" trackdata="plitemsobj">
		</select>
	</fieldset>


	Start at:
	<fieldset data-role="controlgroup">
		<div class="ui-grid-c">
			<div class="ui-block-a">Hours
				<input type="number" name="hours" id="hours" value="0" min="0" max="23">
			</div>
			<div class="ui-block-b">Min
				<input type="number" name="minutes" id="minutes" value="0" min="0" max="59">
			</div>
			<div class="ui-block-c">Sec
				<input type="number" name="seconds" id="seconds" value="0" min="0" max="59">
			</div>

		</div>
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetPl">Set</button></div>
		<div class="ui-block-b"><button id="btRemovePl">Remove</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>


<div data-role="popup" id="spotPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Edit Spot</h2>

	<fieldset>
		<label for="SPOT_ITEMS" class="select">Spots list</label>
		<select class="tracklist" name="SPOT_ITEMS" id="SPOT_ITEMS" trackdata="spotitemsobj">
		</select>
	</fieldset>

	Start at:
	<fieldset data-role="controlgroup">
		<div class="ui-grid-c">
			<div class="ui-block-a">Hours
				<input type="number" name="hours" id="hours" value="0" min="0" max="23">
			</div>
			<div class="ui-block-b">Min
				<input type="number" name="minutes" id="minutes" value="0" min="0" max="59">
			</div>
			<div class="ui-block-c">Sec
				<input type="number" name="seconds" id="seconds" value="0" min="0" max="59">
			</div>

		</div>
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetSpot">Set</button></div>
		<div class="ui-block-b"><button id="btRemoveSpot">Remove</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>

<div data-role="popup" id="createnewschedPopup" class="mypopup" style="min-width: 22em;">

	<h2 class="popH">Create New Scheduler</h2>

	<fieldset data-role="controlgroup">
		<label for="schedname">Scheduler name</label>
		<input type="text" name="schedname" id="schedname" value="" placeholder="new scheduler">
	</fieldset>

	<div class="ui-grid-b ui-responsive">
		<div class="ui-block-a"><button id="btSetNewSched">Create</button></div>
		<div class="ui-block-c"><button class="btCancelPopup">Cancel</button></div>
	</div>

</div>
<span style="margin-left: 1em; font-weight: bold">TimeLine</span>
<div class="mysched" id="mysched"></div>
