

#btMenu {
	background-color: transparent;
	border: none;
	color: black;
}

.custom-corners .ui-bar {
  margin-top: 1.8em;
/*   margin-left: 1em;
  margin-right: 1em; */	
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
  min-width: 7em;
}
.custom-corners .ui-body {
  border-top-width: 0;
  
/*   margin-left: 1em;
  margin-right: 1em; */
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
  min-width: 7em;
}

.custom-corners .ui-body .ui-grid-a .ui-block-a {
	margin-top: 0.3em;	
	overflow: auto;
}

.custom-corners .ui-body .ui-grid-a .ui-block-b {
	margin-top: 0.3em;	
	overflow: auto;
}

.ui-block-a, .ui-block-b, .ui-block-c {
	padding: 4px;
}

.logo {
	height: 42px;
	left: 42px;
	position: relative;
	top: 1px;
}
.logo:hover {
	cursor: pointer;
}

.ui-header { height: 44px; }

#maincontent {
	top: 49px;		
	right: 0;
	left: 0px;
	position: absolute;
	bottom: 0px;
}

#usertype {
	position:absolute;
	top: 40%;	
	right: 2px;
	font-size: 0.8em;
}

/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 60em){
        #pnMenu {
			visibility: visible;
			position: relative;
			left: 0;
			top: 93px;
			clip: initial;
			float: left;
			width: 286px;
			background: none;
			
			
			-webkit-transition: none !important;
			-moz-transition: none !important;
			transition: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			transform: none !important;
			/*-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none; 
			*/
        }

		.logo {
			height: 80px;
			position: absolute;
			left: 55px;
			top: 4px;
		}

		
        #btMenu {
            display: none;
        }

        #maincontent {
            top: 93px;		
			right: 0;
			left: 288px;
			position: absolute;
			bottom: 0px;
			height: 100%;
			overflow: hidden;
        }
		.ui-panel-closed { width:30em; }
		
		.ui-header { height: 88px; }
		
		#usertype {
			right: 2px;
			font-size: 2em;
		}		
}

h1, h2 {
	font-weight: normal;
}

.ui-page .ui-header {
    border-top: 4px solid #df7b08;
}

.ui-block-b .isfield {
	float: right;
}

.icoCheck {
	border-radius: 25px;
	float: left; 
	height: 1.5em;
	width: 1.5em;	
	
/*
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
}

.icoCheckOFF {
	background: #e9e9e9 url(../themes/images/icons_png/delete_white.png) center center no-repeat;
}

.icoCheckON {
	background: #df7b08 url(../themes/images/icons_png/check_white.png) center center no-repeat;
}

.IO {
	border: 1px solid #dddddd;
	margin: 1px;
	float: left;
	height: 1.5em;
	width: 1.5em;
	font-family: monospace;
	text-shadow: none;
	/* margin-top: 1em; */	
}

.IObit {
	font-family: monospace;
	font-weight: bold;
	/* padding-bottom: 4px; */ 
	/*position: absolute;*/
	font-size: 0.9em;
	margin-left: 0.7em;
	float: left;
}

.IOin {
	background: green url(../themes/images/icons_png/arrow_d_white.png) center center no-repeat;
}

.IOout {
	background: red url(../themes/images/icons_png/arrow_u_white.png) center center no-repeat;	
}

.IOcont {
	width: 1.5em; 
	height: 3em;	
	float: right;
}

.bit {
	display: inline;
	border: 1px solid black;
	margin: 1px;
	width: 1em;
	height: 1em;
	text-align: center;
	vertical-align: middle;
	background-color: #df7b08;
	color: white;
}

.formatbinary {
	
}

.ui-disabled {
	font-style: italic;
}

.mypopup {
	padding: 0.5em 1em 0.5em 1em;	
/* 	min-width: 20em; */
}


.ui-table th, .ui-table td {
	vertical-align: middle;
}

tr:nth-child(odd) {
    background: #e9e9e9;
}

.ui-input-text input[type="number"], .ui-input-search input[type="number"] {
	text-align: right;
}

.listcont {
	max-height: 23.7em; 
	min-width: 350px; 
	overflow: auto; 
	-webkit-overflow-scrolling: touch;	
}


input.ui-slider-input {
	width: 50px;
}

.clDOPT {
	width: 100px;
}

.highlightBtn {
    background-color: #df7b08;
    color: white;
    text-shadow: none;	
}

.version {
	position: absolute;
	right: 2px;
	top: 2px;
	font-size: 0.6em;
	color: #697895;
	font-style: italic;
}

/* .ui-page-theme-a .ui-btn, html .ui-body-d .ui-btn.clSpotTrack.clTrackitem  {
	background-color: #FFF1E0;
}
 */

.clUsbfileItem {
	font-size: 0.8em;
}
 
html .ui-body-a .ui-btn.clSpotTrack:not(.ui-btn-active) {
	background-color: #FFF1E0;
}

html .ui-body-a .ui-btn.clSensorTrack:not(.ui-btn-active) {
	background-color: #FFDDB7;
}

.minibutton {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.miniselect option {
    font-size: 0.8em;
}