
.schedule, .schedule2 {
	font-size: 1em;
	color: white;
	text-shadow: none;
    min-width: 20em;
    background-color: #c0392b;
    border: 1px solid black;
    padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.schedule:hover, .schedule2:hover {
    background-color: #e74c3c;
}
.event, .event2, .event3 {
	font-size: 1em;
    min-width: 20em;    
    padding: 3px;	
	text-shadow: none;	
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.event {
	background-color: #2980b9;
	color: white;
}

.event2 {
	background-color: #45A4C4;
	color: black;
}

.event3 {
	background-color: #FFFF00;
	color: black;
}

.event:hover {
    background-color: #3498db;
}

.event2:hover {
    background-color: #9CD7EB;
	color: black;
} 

.event3:hover {
    background-color: #FFFFD7;
	color: black;
} 

.spot {
	font-size: 1em;
	color: white;
	text-shadow: none;
    min-width: 20em;
	background-color: #f39c12;
    border: 1px solid black;
    padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.spot:hover {
    background-color: #FCB544;
}

.test {
    position: relative;
}

.time {
	font-size: 1em;
}

.eventicon {	
	padding-right: 2px;
	vertical-align: middle;
}

#mysched {	
    padding-left: 1em;
	border-left: 1px solid black;
}
#mysched2 {
    margin-left: 530px;
}
